<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState timeout="30"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.8.1"/>
  </system.web>
  <appSettings>
    <add key="verifyurl" value="http://localhost:49292/verify.aspx"/>
    <add key="mentorLoginDaysAllowed" value="10"/>
    <add key="studentLoginDaysAllowed" value="30"/>
    <add key="allowedEmailExtensions" value=".org,.com"/>
    <add key="path" value="http://localhost:49673/"/>
    <add key="POS" value="Server=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Database=IBMTDB;user id=annump;password=Softech123@;Min Pool Size=0;Max Pool Size=200;Pooling=true;"/>
    <!--<add key="POS" value="Server=43.255.152.21;Database=IBMTDB;user id=annump;password=Softech123@;Min Pool Size=0;Max Pool Size=200;Pooling=true;"/>-->
    <!--<add key="POS" value="Server=02-2126;Database=IBMTDB;user id=sa;password=Passw0rd;Min Pool Size=0;Max Pool Size=200;Pooling=true;"/>-->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
</configuration>